       /* The side navigation menu */
       .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ff7070;
        overflow-x: hidden;
        padding-top: 20px;
        padding-left: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #f1f1f1;
        display: block;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .main {
        margin-left: 250px; /* Same as the width of the sidenav */
    }
    
    #map {
        height: 1000px;
        width: calc(100% - 250px); /* Adjust width to account for side navigation */
        margin-left: 250px; /* Ensure map is positioned correctly relative to sidenav */
    }
